html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  min-height: 100vh;
  padding: 10px;
}

.grid-container > * {
  box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.74);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header" 100px
    "nav" 50px
    "main" auto
    "footer" 100px;

  .header {
    grid-area: header;
    background-color: rgba(103, 93, 241, 0.74);
  }

  .nav {
    grid-area: nav;
    background-color: rgba(179, 46, 241, 0.74);
  }

  .main {
    grid-area: main;
    background-color: rgba(77, 237, 106, 0.74);
  }

  .footer {
    grid-area: footer;
    background-color: rgba(237, 123, 67, 0.74);
  }
  /*
  @media (min-width: 768px) {
    grid-template:
      "header nav" 100px
      "main main" auto
      "footer footer" 100px / 200px auto;
  }

  @media (min-width: 992px) {
    grid-template:
      "header header header" 100px
      "nav    nav    nav"    50px
      "main   main   main"   auto
      "footer footer footer" 100px/
       auto   auto   auto;
  }
  */
}

/* estilos para maquetado con flex
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
  margin: 20px;
  flex: 1;
}

sidebar {
  flex: 1;
  background-color: #26577c;
  padding: 20px;
  gap: 20px;
  min-height: 100%;
}

content {
  flex: 3;
  margin-left: 20px;
  background-color: #17594A;
  padding-left: 20px;
  padding: 20px;
  min-height: 100%;
}

@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  content {
    margin-left: 0;
    margin-top: 20px;
  }
  sidebar, content {
    flex: 1;
  }
}
*/

/*
  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    color: #333;
  }

  .contenido {
    flex: 1;
    padding: 2em;
  }
  
  header {
    background-color: #0066cc;
    color: white;
    padding: 1em;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1em;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 2em;
  }
  
  footer {
    text-align: center;
    padding: 1em;
    background-color: #eee;
    color: #666;
  }
  */
